build
out
old
.vscode/*.json
test
src/Timer/CMakeFiles
src/Timer/CMakeCache.txt
src/Logging/CMakeFiles
src/Logging/MakeFile
src/Logging/Logging.o
src/Logging/Main.o
src/Logging/main.cpp
src/CMakeFiles
src/CMakeCache.txt
src/Makefile
src/*.cmake
src/Logging/*.cmake
src/Logging/CMakeCache.txt
src/Timer/*.cmake
src/*/*.a
doc
.vscode